@import url('../../v9/css/base.css');
@import url('../../v9/css/news.css');
@import url('../../v9/css/side.css');
@import url('../../v9/css/cloud.css');
@import url('../../v9/css/pager.css');
@import url('../../v9/css/comments.css');
@import url('../../v9/css/form.css');
@import url('../../v9/css/footer.css');

/* ------------------------------------------------------------------------------ */
/*       (c)2008 por Cristian R. Arroyo [cristian.arroyo@vivaserver.com.ar]       */
/* ------------------------------------------------------------------------------ */

/* completes base.css */

body {
  background: #eef2fb url(bg.png) repeat-x;
}

#header .container {
  height: 120px;
  background: url(logo.png) no-repeat;
}

#header .logo h1 {
  text-indent: -9999px;
  height: 50px;
}

#header .logo h2 {
  display: none;
}

#cse-search-box {
  padding-top: 45px;
}

.ads728 p.ad15 {
  background: url(adtag.gif) no-repeat left center;
}

/* completes news.css */

.news a, #side a, #footer a, #opine a {
  color: #000066;
}

/* completes pager.css */

ul#pager a {
  color: #6666CC;
  border-color: #6666CC;
}

ul#pager a:hover, ul#pager .current {
  border-color: #000066;
  background-color: #000066;
}

/* completes cloud.css */

#side li a.cloud1, #side li a.cloud2 {
  color: #6666CC;
}

/* completes comments.css */

.comment a {
  color: #000066;
}
