/*  (c)2008  by  Cristian R. Arroyo  [cristian.arroyo@vivaserver.com.ar]  */

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 5px;
  /* color & background gfx are per-site*/
}

blockquote {
  background-color: white;
  padding: 0 1.5em;
  margin-right: 0;
  margin-left: 0;
  border-top: 1px dashed silver;
  border-bottom: 1px dashed silver;
  border-left: 3px solid silver;
  border-right: 1px solid silver;
  font: italic 110% Georgia, "Times New Roman", Times, serif;
}

blockquote p {
  margin-top: 1em;
}

code {
  color: #000;
  font: inherit 'courier new', courier, monospace;
}

pre {
  background: #0C1021;
  display: block;
  margin: 0 0 1em 0;
  padding: 5px;
  overflow: auto;
  overflow-x: scroll;
  width: 100%;
}

pre code {
  color: #F2D62C;
  font-weight: bold;
}

/* @group top wrapper */

#top {
  color: #eee;
  height: 80px;
}

#top .span-1 a, #top .span-2 a {
  color: #eee;
  text-decoration: none;
}

#top a:hover {
  text-decoration: underline;
}

#top h1 {
  color: #eee;
  margin: 0 40px 0 0;
  padding: 0;
  text-align: right;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 125%;
}

#top h2 {
  color: #eee;
  margin: 0 40px 0 0;
  padding: 0;
  text-align: right;
  letter-spacing: 2px;
  font-variant: small-caps;
  font-size: 100%;
}

#top li {
  display: inline;
  font-size: 80%;
  margin-right: 10px;
}

#top li strong {
  text-transform: uppercase;
}

#top p {
  font-size: 80%;
  margin: 0;
}

#top ul {
  margin-top: 5px;
}

#top .span-1, #top .span-2 {
  margin-top: 5px;
}

#top .span-1 p {
  padding-left: 10px;
}

#top .xmundo {
  background: url(xmundo.gif) no-repeat right center;
}

/* @end */

/* @group top vivanet 1 link */

#vivanet {
  color: #333;
  height: 24px;
  font-size: 110%;
}

#vivanet p {
  padding-left: 18px;
  padding-top: 4px;
}

.bsd {
  background: #FFF1ED;
  border-top: 4px solid #6e1313;
}

.bsd a {
  color: #6E1313;
  text-decoration: none;
}

.bsd a:hover {
  color: #6E1313;
}

.hard {
  background: #f2f5e4;
  border-top: 4px solid #7d974e;
}

.hard a {
  color: #405012;
  text-decoration: none;
}

.hard a:hover {
  color: #405012;
}

.php {
  background: #eef2fb;
  border-top: 4px solid #7377b5;
}

.php a {
  color: #000066;
  text-decoration: none;
}

.php a:hover {
  color: #000066;
}

.linux {
  background: #f4fffb;
  border-top: 4px solid #73c3de;
}

.linux a {
  color: #2a7696;
  text-decoration: none;
}

.linux a:hover {
  color: #2a7696;
}

/* @end */

/* @group google custom search */

#cse-search-box .button{
  font-size: 12px;
  margin-left: 10px;
}

#cse-search-box {
  text-align: right;
  padding-top: 25px;
}

#cse-search-box input {
  height: 25px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2px 2px 2px;
}

/* @end */

/* @group adsense blocks */

.ad336 {
  width: 336px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boxed {
  border: 2px solid white;
}

.ads728 {
  margin: 10px 0;
}

.ads728 p {
  width: 728px;
  margin: 0 auto;
}

.ads728 p.ad90 {
  border: 2px solid white;
  margin-bottom: 5px;
}

.ads728 p.ad15 {
  height: 16px;
  padding-left: 32px;
  /* background gfx is per-site  */
}

/* @end */

/* @group feedburner */

#feed {
  background: url(rss.gif) no-repeat left top;
  padding-left: 60px;
  margin-bottom: 20px;
}

#feed h1 a, #feed h2 a {
  text-decoration: underline;
}

#feed h1 a:hover, #feed h2 a:hover {
  text-decoration: none;
}

#feed h1 {
  color: #333;
  font-size: 250%;
  font-weight: bold;
  padding: 0;
  float: left;
  margin: 0 12px 0 0;
  letter-spacing: 1px;
}

#feed h4 {
  font-size: 125%;
  float: left;
  font-weight: bold;
  color: #333;
  padding-top: 7px;
  margin: 0;
  font-variant: small-caps;
  letter-spacing: 1px;
}

#feed h2 a {
  color: #ef4822;
  font-weight: bold;
}

#feed h2 {
  font-size: 125%;
  margin-left: 5px;
  clear: left;
  padding: 0;
}

#feed h1 a {
  color: black;
}

#feed p {
  margin-top: -40px;
  text-align: right;
}

/* @end */

a.comments  {
  background: url(comments.gif) no-repeat left;
  padding-left: 18px;
  margin-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

a.new  {
  background: url(new.gif) no-repeat left;
  padding-left: 18px;
  margin-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#header {
  /* all defined per-site*/
}

#content {
  color: #333333;
  border-top: 1px dotted silver;
  padding-top: 25px;
  width: 958px;
  margin: 25px auto 0;
}

#main {
  padding-right: 20px;
}

#main .alone {
  margin-top: 10px;
}

#side .alone {
  margin-bottom: 15px;
}

.clear {
  clear: both;
}
