/* tag colors is per-site */


/* @group tag cloud list */

ul#tags {
  text-align: center;
}
ul#tags a {
  text-transform: uppercase;
}
ul#tags li {
  display: inline;
  margin: 0 10px;
}

/* @end */

/* @group tag cloud links */

a.cloud1 {
  font-size: 80%;
}

a.cloud2 {
  font-size: 110%;
  font-weight: bold;
}

a.cloud3 {
  font-size: 130%;
}

a.cloud4 {
  font-size: 155%;
  font-weight: bold;
}

/* @end */
