/* ------------------------------------------------------------------------------ */
/*       (c)2008 por Cristian R. Arroyo [cristian.arroyo@vivaserver.com.ar]       */
/* ------------------------------------------------------------------------------ */

.comment {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  clear: left;
}

.comment a {
  /* link color is per-site  */
}

.comment h2 {
  font-size: 125%;
  font-weight: bold;
  margin-bottom: 0;
  padding-top: 5px;
}

.comment h5 {
  font-size: 95%;
  font-weight: normal;
  font-style: normal;
  margin-bottom: 10px;
}

.comment .body {
  padding-left: 65px;
}

.comment .avatar {
  background: url(avatar.gif) no-repeat center top;
  width: 50px;
  float: left;
}

.comment .avatar p {
  padding-top: 50px;
  text-align: center;
  font-size: 150%;
}
