/*  (c)2008  by  Cristian R. Arroyo  [cristian.arroyo@vivaserver.com.ar]  */

/* @group prev-next top side links */

#prev_next .left {
  float: left;
}
#prev_next .right {
  float: right;
}
#prev_next {
  text-transform: uppercase;
}
#prev_next a {
  text-decoration: none;
}
#prev_next a:hover {
  text-decoration: underline;
}

/* @end */

.news {
  border-bottom: 1px dotted silver;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
  font-size: 105%;
}

.news a, #side a, #footer a, #opine a {
  /* link color is per-site  */
}

.news a:hover {
  text-decoration: none;
}

.news h1 {
  font-size: 225%;
  font-weight: bold;
  margin: 5px 0;
}

.news h1 a {
  color: #000;
  text-decoration: none;
}
.news h1 a:hover {
  text-decoration: underline;
}

.news h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 90%;
  margin: 5px 0 0 0;
}

.news h5 a {
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 110%;
}

.news li {
  font-size: 110%;
}

.news ul.tags {
  padding: 5px 0;
  margin: 0 0 5px;
}
.news ul.tags li {
  display: inline;
  font-size: 90%;
  text-transform: uppercase;
  margin-right: 10px;
}
.news ul.tags a {
  font-size: 110%;
  padding-left: 18px;
  background: url(tag.gif) no-repeat;
  padding-top: 1px;
  padding-bottom: 3px;
  text-decoration: none;
}

.news ul.tags a:hover {
  text-decoration: underline;
}

.news p {
  font-size: 110%;
}

.news p a {
  font-weight: bold;
}

.news p > img, .news p > object {
  margin: 0 auto;
  display: block;
}

.news img, .news object {
  border: 4px solid white;
}

ul.more {
  margin: 0;
}
ul.more a {
  text-decoration: none;
}
ul.more a:hover {
  text-decoration: underline;
}
ul.more li {
  display: inline;
  margin-right: 10px;
  height: 18px;
  font-size: 95%;
  padding-top: 2px;
  padding-bottom: 2px;
}
ul.more li.hour {
  background: url(hour.gif) no-repeat;
  padding-left: 20px;
}
ul.more li.comments {
  background: url(comments.gif) no-repeat;
  padding-left: 20px;
}
ul.more li.nocomments {
  background: url(nocomments.gif) no-repeat;
  padding-left: 20px;
}
ul.more li.new {
  background: url(new.gif) no-repeat;
  padding-left: 20px;
}

/* @group share links */

.share {
  text-align: center;
}
.share a {
  font-weight: bold;
  padding-left: 20px;
}
.share li {
  display: inline;
  margin-right: 10px;
}
.share input {
  font-size: 95%;
}
.share label {
  font-weight: normal;
  font-size: 95%;
}

li.twitter {
  background: url(twitter.png) no-repeat;
}
li.facebook {
  background: url(facebook.png) no-repeat;
}
li.meneame {
  background: url(meneame.png) no-repeat;
}
li.delicious {
  background: url(delicious.png) no-repeat;
}

/* @end */

.sticky {
  background-image: url(sticky.gif);
}

.sticky h1 a {
  text-decoration: underline;
}

.sticky h1 a:hover {
  text-decoration: none;
}

/* only used for individual news page */
.alone {
  border: none;
  margin: 0;
}
