/*  (c)2008  by  Cristian R. Arroyo  [cristian.arroyo@vivaserver.com.ar]  */

/* @group prev-next top side links */

#prev_next .left {
  float: left;
}

#prev_next .right {
  float: right;
}
#prev_next {
  text-transform: uppercase;
}
#prev_next a {
  text-decoration: none;
}
#prev_next a:hover {
  text-decoration: underline;
}

/* @end */

.news {
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-top: 4px solid white;
  font-size: 105%;
  margin-bottom: 2em;
}

.news a, #side a, #footer a, #opine a {
  /* link color is per-site  */
}

.news a:hover {
  text-decoration: none;
}

.news h1 {
  font-size: 225%;
  font-weight: bold;
  margin: 5px 0;
}

.news h1 a {
  color: #000;
  text-decoration: none;
}
.news h1 a:hover {
  text-decoration: underline;
}

.news h5 {
  font-weight: normal;
  font-style: normal;
  font-size: 90%;
  margin: 5px 0 0 0;
}

.news h5 a {
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 110%;
}

.news li {
  font-size: 110%;
}

.news p {
  font-size: 110%;
}

.news p a {
  font-weight: bold;
}

.news p > img, .news p > object, .news p > embed, .news p > iframe {
  margin: 0 auto;
  display: block;
}

.news img, .news object {
  border: 4px solid white;
}

.news img.right {
  float: right;
  margin: 15px 0 5px 20px;
}

/* @group sticky news */

.sticky {
  background-image: url(sticky.gif);
}

.sticky h1 a {
  text-decoration: underline;
}

.sticky h1 a:hover {
  text-decoration: none;
}

/* @end */

/* @group tags list */

ul.tags {
  padding: 5px 0;
  margin: 0 0 5px;
}
ul.tags li {
  display: inline;
  font-size: 90%;
  text-transform: uppercase;
  margin-right: 10px;
}
ul.tags a {
  font-size: 110%;
  padding-left: 18px;
  background: url(tag.gif) no-repeat;
  padding-top: 1px;
  padding-bottom: 3px;
  text-decoration: none;
}
ul.tags a:hover {
  text-decoration: underline;
}

/* @end */

/* @group more links list */

ul.more {
  margin: 5px 0 15px;
}
ul.more a {
  text-decoration: none;
}
ul.more a:hover {
  text-decoration: underline;
}
ul.more li {
  display: inline;
  margin-right: 10px;
  height: 18px;
  font-size: 95%;
  padding-top: 2px;
  padding-bottom: 2px;
}
.hour {
  background: url(hour.gif) no-repeat;
  padding-left: 20px;
}
.comments {
  background: url(comments.gif) no-repeat;
  padding-left: 20px;
}
.nocomments {
  background: url(nocomments.gif) no-repeat;
  padding-left: 20px;
}
.new {
  background: url(new.gif) no-repeat;
  padding-left: 20px;
}

/* @end */

/* @group share links */

.share {
  text-align: center;
  margin-bottom: 25px;
}
.share input {
  font-size: 95%;
}
.share label {
  font-weight: normal;
  font-size: 95%;
}

ul#share {
  margin-left: 10px;
}

ul#share li {
  margin-left: 0;
  display: inline;
}

ul#share li a {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  float: left;
  margin-top: 5px;
  margin-right: 20px;
}

a.twitter {
  background: url(twitter.png) no-repeat;
}
a.facebook {
  background: url(facebook.png) no-repeat;
}
a.meneame {
  background: url(meneame.png) no-repeat;
}
a.delicious {
  background: url(delicious.png) no-repeat;
}

/* @end */


/* @group related news by tag */

p.more_related {
  margin: 0;
  margin-bottom: 5px;
  padding-left: 10px;
  font-weight: bold;
}

.related a {
  color: black;
  text-decoration: none;
}

.related a:hover {
  color: black;
  text-decoration: underline;
}

ul.tags a.current {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

/* @end */

/* @group previously links */

#previously {
  border-top: 4px solid white;
  padding-top: 1.5em;
}

#previously ul {
  margin: 0;
}

/* @end */

/* @group calendar */

.news .cal p {
  margin-left: 0;
}

.news .cal a.hot {
  font-weight: bold;
}

.news .cal a {
  text-decoration: underline;
  font-weight: normal;
}

.news .cal a:hover {
  text-decoration: none;
}

/* @end */
