/* ------------------------------------------------------------------------------ */
/*       (c)2008 por Cristian R. Arroyo [cristian.arroyo@vivaserver.com.ar]       */
/* ------------------------------------------------------------------------------ */

#side a {
  text-decoration: none;
}

#side a:hover {
  text-decoration: underline;
}

#side h3 {
  border-top: 1px dotted silver;
  text-transform: uppercase;
  font-size: 120%;
  padding-left: 10px;
  clear: left;
  padding-top: 10px;
}

#side h3 a {
  font-weight: bold;
}

#side li {
  list-style-type: square;
}

/* @group categories list */

#side ul.categories {
  font-variant: small-caps;
  color: silver;
}

#side ul.categories a {
  font-size: 125%;
  font-weight: bold;
  letter-spacing: 1px;
}

#side ul.categories li {
  list-style-type: none;
}

/* @end */

#side #weekhot a {
  font-weight: bold;
}


ul#tags {
  text-align: center;
}
ul#tags a {
  text-transform: uppercase;
}
ul#tags li {
  display: inline;
  margin: 0 10px;
}

/* 5-column related news by tag */

.related h3 {
  font-size: 115%;
}
.related h3 a {
  color: #000;
  padding-left: 18px;
  background: url(tag.gif) no-repeat left center;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}

.related ul {
  list-style-type: none;
  margin-left: 7px;
}

.related li {
  line-height: 95%;
  margin-bottom: 0.75em;
}
.related li a {
  text-decoration: none;
}
.related li a:hover {
  text-decoration: underline;
}
